.navleft {
    height: 50%;
    width: 100%;
    /* display: inline; */
}

.click {
    height: 40px;
    background-color:rgb(255, 202, 176);
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}

